# Hugo build output
/public/
/resources/_gen/
.hugo_build.lock
hugo_stats.json

# Dependencies
node_modules
_vendor

# Environment config
.env

# OS and temporary files
.DS_Store
Thumbs.db
*.log
.sass-cache

# Hugo binaries
hugo.exe
hugo.linux
hugo.darwin
