{{/* Bundle together all js files for performance */}}
{{ $js1 := resources.Get "js/lib/jquery-3.7.1.js" }}
{{ $js2 := resources.Get "js/lib/fuse-7.0.0.js" }}
{{ $js3 := resources.Get "js/lib/mark-8.11.1.js" }}
{{ $js4 := resources.Get "js/typeit.js" }}
{{ $js5 := resources.Get "js/copyCode.js" }}
{{ $js6 := resources.Get "js/backToTop.js" }}
{{ $js7 := resources.Get "js/search.js" }}
{{ $js := slice $js1 $js2 $js3 $js4 $js5 $js6 $js7 | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint }}


<script
  src="{{ $js.Permalink }}"
  integrity="{{ $js.Data.Integrity }}"
  defer
></script>

{{ if .IsPage }}
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:description" content="{{ .Summary }}" />
  <meta
    property="og:image"
    content="{{ with .Params.featured_image }}
      {{ $.Site.Params.cloudFront.images }}/{{ . | safeURL }}
    {{ else }}
      {{ $logo := resources.Get "images/mjh-logo.avif" }}
      {{ $logo.RelPermalink }}
    {{ end }}"
  />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
{{ end }}
