<header class="headerWrapper">
  <div class="header">
    <div>
      <a class="terminal" href="{{ .Site.BaseURL }}">
        <span>
          <span style="color: #88c0d0; margin-right: -8px;">[</span>
          <span style="color: #e5e9f0; margin-right: -8px;"
            >{{ .Site.Params.user }}</span
          >
          <span style="color: #bf616a; margin-right: -8px;">@</span>
          <span style="color: #e5e9f0; margin-right: -8px;"
            >{{ .Site.Params.hostname }}</span
          >
          <span style="color: #88c0d0;">]</span>
          <i class="fa-solid fa-arrow-right-long" style="color: #a3be8c;"></i>
          <span style="color: #88c0d0;">blog</span>
          <span
            class="terminal-branch"
            style="color: #88c0d0; margin-right: -8px;"
          >
            (</span
          >
          <i
            class="fa-solid fa-code-branch fa-sm"
            style="color: #ebcb8b; margin-right: -6px"
          ></i>
          <span
            class="terminal-branch"
            style="color: #b48ead; margin-right: -8px;"
            >main</span
          >
          <span class="terminal-branch" style="color: #88c0d0;">)</span>
        </span>
      </a>
    </div>
    <input class="side-menu" type="checkbox" id="side-menu" />
    <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
    <nav class="headerLinks">
      <ul>
        {{ range .Site.Menus.header }}
          <li>
            <a
              href="{{ .URL | absURL }}"
              title="{{ .Title }}"
              class="menu-link"
            >
              ~/{{- .Name -}}
            </a>
          </li>
        {{ end }}
      </ul>
    </nav>
  </div>
</header>
