{{ if .Store.Get "hasMermaid" }}
  <script type="module">
    import mermaid from "https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs";
    mermaid.initialize({
      startOnLoad: true,
      theme: "base", // Use 'dark', 'forest', 'neutral', or 'base'
      themeVariables: {
        primaryColor: "#2E3440",
        primaryTextColor: "#D8DEE9",
        primaryBorderColor: "#4C566A",
        lineColor: "#81A1C1",
        secondaryColor: "#3B4252",
        tertiaryColor: "#88C0D0",
      },
    });
  </script>
{{ end }}
