<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <title>
      {{ i18n "home" }} |
      {{ .Site.Params.author.name }}

    </title>

    {{ partial "head.html" . }}
    <style>
      /* Hide the author bio initially */
      #author-bio {
        display: none;
      }
    </style>
  </head>

  <body>
    <div class="flexWrapper">
      {{ partial "header.html" . }}


      <div class="content vertical">
        <main class="main">
          <div class="indexWrapper">
            <div>
              <h1 class="indexHeader" id="author-name">
                {{ .Site.Params.author.name }}
              </h1>
              <p class="code" id="author-bio">
                {{ .Site.Params.author.bio }}
              </p>
            </div>
            {{ if isset .Site.Params "social" }}
              {{ partial "social.html" . }}
            {{ end }}
          </div>
        </main>
      </div>

      {{ partial "footer.html" . }}
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        let bioInstance; // Define bioInstance globally for access by other functions

        const typeInstance = new TypeIt("#author-name", {
          speed: 100,
          lifeLike: true,
          waitUntilVisible: true,
          cursor: true,
          cursorChar: "█",
          afterComplete: (i) => {
            i.destroy();
          },
        })
          .exec(() => {
            // Make author-bio visible and initialize typing for it after author-name finishes
            const bioElement = document.getElementById("author-bio");
            bioElement.style.display = "block"; // Make the bio visible

            // Initialize the bioInstance
            bioInstance = new TypeIt("#author-bio", {
              speed: 50,
              waitUntilVisible: true,
              lifeLike: true,
              cursorChar: "█",
            }).go();
          })
          .go();

        // Function to hide the cursor
        function hideCursor() {
          const cursor = document.querySelector("#author-bio .ti-cursor");
          if (cursor) cursor.style.visibility = "hidden"; // Hide the cursor
        }

        // Function to show the cursor
        function showCursor() {
          const cursor = document.querySelector("#author-bio .ti-cursor");
          if (cursor) cursor.style.visibility = "visible"; // Show the cursor
        }

        // Add hover listeners for links to control bioInstance
        const menuLinks = document.querySelectorAll(".menu-link");
        menuLinks.forEach((link) => {
          link.addEventListener("mouseenter", hideCursor);
          link.addEventListener("mouseleave", showCursor);
        });
      });
    </script>
  </body>
</html>
