@use "../utils/variables" as v;
@use "sass:map";

.breadcrumb-list {
  color: map.get(v.$primary-colors, "blue");
}

.breadcrumb-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  gap: 0.25rem;
  font-size: 0.9rem;
  color: v.$whiter;
}

.breadcrumb-list li {
  display: flex;
  align-items: center;
}

.breadcrumb-list a {
  text-decoration: none;
  color: map.get(v.$primary-colors, "blue");

  &:hover {
    text-decoration: underline;
  }
}

.breadcrumb-list .divider {
  margin: 0 0.25rem;
  color: #888;
}

.breadcrumb-list .current {
  font-weight: bold;
  color: v.$white;
}

.postWrapper {
  width: 100%;
  margin-right: 220px;
  margin: 0 auto;
  max-width: 992px;
  padding-right: 1rem;
}

.postMetadata {
  font-family: v.$fontCode;
  display: block;
  background: v.$backgroundDarker;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #4c566a;
}

.spacer {
  height: 2rem;
}

.comments-heading {
  font-family: v.$fontCode;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 0.9em;
  margin: 5px 0;
}

.comments-heading::before,
.comments-heading::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
  margin: 0 5px;
}

.comments-heading span {
  font-weight: bold;
}

dt,
dd {
  line-height: 1.5;
}

dl {
  display: grid;
  grid-template-columns: max-content auto;
}

dt {
  grid-column-start: 1;
}

dd {
  grid-column-start: 2;
}

dt::after {
  content: ":";
}
