{{ $src := .Get "src" }}
{{ $alt := .Get "alt" }}
{{ $maxWidth := .Get "max-width" | default "100%" }}
{{ $maxHeight := .Get "max-height" | default "auto" }}
{{ $center := .Get "center" | default "false" }}

{{ if $src }}
  <div
    style="{{ if eq $center " true" }}
      display: flex; justify-content: center; align-items: center;
    {{ end }}"
  >
    <img
      src="{{ .Site.Params.cloudFront.images }}/{{ $src }}"
      alt="{{ $alt }}"
      style="max-width: {{ $maxWidth }}; max-height: {{ $maxHeight }}; width: auto; height: auto;"
    />
  </div>
{{ else }}
  <p>Image source not provided.</p>
{{ end }}
